*{
    margin: 0;
    padding: 0;
}

.etoiles i{
    color: #BA55D3!important;
}

.choixpages p{
    text-align: center;
    margin-top: 20px;
}

.choixpages a{
    color: black;
}

.numeroPage{
    font-weight: bold;
    color: #BA55D3;
}

.container{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    width: 120%;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.commentaireClient{
    margin-left: 13%;
    margin-top: 15px;;
    width: 70%;
}

.commentaireClient p{
    text-align: justify;
    margin-bottom: 0;
}

.nameClients h4{
    margin-bottom: 0;
}

.espace{
    width: 30%;
}

.child1{
    width: 35%;
}

.child3{
    width: 57%;
}

.name{
    position: relative;
    text-align-last: right;
    margin-bottom: 0;
}

.container .com{
    margin: 0 auto; 
}

.com{
    width: 106%;
}

.prenom{
    font-weight: bold;
}


/* --------RESPONSIVE--------- */

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {


    .container h4{
        font-size: 10%;
        margin-top: 5px;
    }

    .com{
        font-size: 80%;
    }

    .container{
        width: 100%;
        padding: 0;
        display: inline-block;
    }

    .etoiles i{
        font-size: 50%;
    }

    .etoiles{
        width: 35%;
    }
    .nameClient h4{
        font-size: 10%;
    }

    .espace{
        width: 0;
    }
    
    .child1{
        width: 15px;;
    }
    
    .child3{
        width: 0;
    }

    .name{
        font-size: 10px;
        margin-top: 5px;
    }
}
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (max-width: 768px) {
    
    .container h4{
        font-size: 90%;
        margin-top: 5px;
    }

    .com{
        font-size: 80%;
    }

    .container{
        width: 100%;
        padding: 0;
    }

    .espace{
        width: 0;
    }
    
    .child1{
        width: 0;
    }
    
    .child3{
        width: 0;
    }

    .name{
        font-size: 13px;
        margin-top: 5px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .container h4{
        font-size: 90%;
        margin-top: 5px;
    }

    .com{
        font-size: 80%;
    }

    .container{
        width: 100%;
        padding: 0;
    }

    .espace{
        width: 0;
    }
    
    .child1{
        width: 0;
    }
    
    .child3{
        width: 0;
    }

    .name{
        font-size: 13px;
        margin-top: 5px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}



