* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic','sans-serif';
}

h1{
    color: #BA55D3;
    text-align: center;
}

p{
    text-align: center;
}

/************************** HEADER *****************************************************/

.headerLogo {
    margin-left: 1300px;
    margin-right: auto;
    display: flex;
    flex: space-between;
}

.logoMarque {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#conteneur{             /* Icones du haut à droite du header */
    margin-top: 8px;
}

.user, .localisation, .panier, .searchbar{
    margin-left: 6px;
    margin-top: 0.5px;
    padding: 5px;
}

/*-------Choix des Langues---------*/

#menu {	list-style: none;	padding: 0 10px; text-align: center!important;		margin-left: 15px;	float: left; width: 60px; height: 20px;	background: #333;	 font-size: 10px; /*font-size: 1.2em;*/}
#menu li {	float: left;	margin-top: 1.5px;		padding: 0 15px 0 0;	position: relative; font-size: 10px;}
#menu li a{	padding: 0px 0px!important;	color: #fff; text-align: center!important;	display: block;	text-decoration: none;	float: left;}
#menu li a:hover{	background: #222 no-repeat 10px center; }
#menu li span.subhover {background-position: center bottom; cursor: pointer;} 
#menu li ul.sous_menu {	list-style: none;	position: absolute;	left: -10px; top: 15px;	background: #333;	margin: 0; padding: 0;	display: none;	float: left;	width: 60px;}
#menu li ul.sous_menu li{	margin: 0; padding: 0;	border-top: 1px solid #252525; 	border-bottom: 1px solid #444;	clear: both;	width: 60px; text-align: center!important;}
#menu li ul.sous_menu li a {	float:left;	width: 60px;	background: #333;	padding-left: 20px;}
#menu li ul.sous_menu li a:hover {	background: #222 no-repeat 10px center; }


.logoLangues{
    width: 25px;
}




/* ********************** NAV ********************************************** */

nav{
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
    border-bottom: 1px solid #e9e9e9;
    width: 370px!important;
}

.navbar{

    background: white;
    color: black!important;
}

.dropdown-toggle::after{
    display: none;
}

.redsoldes{
    font-weight: bold;
    color: red!important;
}





/* ***********  Boutons ********************************** */

.btn {
    display: inline-block;
    font-weight: 400;
    color: #BA55D3;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    height: 50px;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 10px;
}

.search{ /* -------------------------------Bouton de recherche (NAV)--------------*/
    color: #BA55D3!important;
    background:#ffffff!important;
    border: 2px solid #BA55D3!important;
}

.search:hover{
    color: #ffffff!important;
    background: #BA55D3!important;
}

.btn-outline-success { /*------------------Bouton "M'inscrire" (FOOTER) et "Je découvre"----------- */
    color: #BA55D3!important;
    background: #ffffff!important;
    border: 1px solid #BA55D3!important;
}

.btn-outline-success:hover {
    color: white!important;
    background-color: #BA55D3!important;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem #BA55D3!important;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #BA55D3;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: white;
    background-color: #BA55D3;
    border-color: white;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #BA55D3;
}


/* ************** FOOTER ***************************************************** */

footer {
    background: black;
    color: white;
    font-size: 12px;
}

footer .ligne {
    background: white;
}

.footer_align {
    text-align: center;
    display: none;
}

footer h4 {
    color: white;
    text-align: center;
    cursor: pointer;
}

#newsletter {
    margin-top: 30px;
    border-bottom: 2px solid #BA55D3;
}

#newsletter .btn {
    display: block;
    background-color:#BA55D3;
    color: white;
    margin: 0 auto;
    font-size: 1.3rem;
    width: 175px;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#newsletter .btn:hover {
    background-color: white;
    color: #BA55D3;
    border: 2px solid #BA55D3;
    transform: none;
}

#newsletter p {
    text-align: justify center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ligne {
    display: block;
    height: 0.5px;
    background-color: slategray;
    width: 20%;
    margin: 20px auto;
}

#infos {
    margin-top: 30px;
    border-bottom: 2px solid #BA55D3;
}

#infos ul li {
    list-style: none;
    text-align: center;
}

#infos ul li a {
    text-decoration: none;
    color: white;
}

#infos ul li a:hover {
    color: #BA55D3;
}

#Social {
    margin-top: 30px;
    border-bottom: 2px solid #BA55D3;
}

#Social a {
    text-decoration: none;
    color: white;
    font-size: 300%;
    padding: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
}

#Social a i {
    text-decoration: none;
}

#Social a i:hover {
    color: #BA55D3;
}

footer #copy {
    background: #BA55D3;
    color: white;
    height: 22px;
    text-align: center;
}

/* ---------- Page "Qui-Sommes-Nous" ----------------*/

.quisommesnous_fieldset{
    display: block!important;
    width: 800px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 0.5px solid black;
}

legend{
text-align: center;
width: 300px;
color: #BA55D3;
font-weight: bold;
}


/* ****  responsive**** */


/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* **** Footer**** */
    .footer_align {
        display: block;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}